# Cargo build
**/target

# Cargo config
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# MacOS nuisances
.DS_Store

# Proofs
**/proof-with-pis.bin
**/proof-with-io.bin
**/program.bin
**/stdin.bin

# Benchmark
benchmark.csv

# Environment
.env

# Build Artifacts
recursion/gnark-ffi/build
crates/prover/build
crates/prover/data
crates/prover/*.tar.gz
crates/prover/Groth16Verifier.sol
crates/prover/pk
crates/prover/powersOfTau28_hez_final.ptau
crates/prover/semaphore-gnark-11
crates/prover/trusted-setup
crates/prover/vk

# Example legacy elf
examples/elf 