# =========================================
# Rust & Cargo
# =========================================
**/target
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# Cargo Build Artifacts
crates/prover/build
crates/prover/data
crates/prover/*.tar.gz
recursion/gnark-ffi/build

# =========================================
# Proofs & Cryptographic Data
# =========================================
**/proof-with-pis.bin
**/proof-with-io.bin
**/program.bin
**/stdin.bin

# Example proofs
examples/fibonacci/fibonacci-groth16.bin
examples/fibonacci/fibonacci-plonk.bin

# Trusted setup files
crates/prover/Groth16Verifier.sol
crates/prover/pk
crates/prover/powersOfTau28_hez_final.ptau
crates/prover/semaphore-gnark-11
crates/prover/trusted-setup
crates/prover/vk

# =========================================
# Environment & Config
# =========================================
.env
.vscode/c_cpp_properties.json

# IntelliJ-based IDEs
.idea/
*.iml

# VS Code settings
.vscode/

# Yarn
.yarn/
yarn.lock

# =========================================
# Miscellaneous
# =========================================
.DS_Store  # MacOS system file
benchmark.csv  # Benchmark data
node_modules/  # Node.js dependencies

# Example legacy ELF
examples/elf 

# Scripts
crates/prover/maximal_shapes.sh
