[workspace]
members = ["core", "cli", "zkvm", "examples/*"]
resolver = "2"

[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[workspace.dependencies]
p3-air = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-field = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-commit = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-matrix = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-baby-bear = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-util = { git = "https://github.com/succinctlabs/plonky3.git" }
valida-derive = { git = "https://github.com/valida-xyz/valida.git" }

p3-challenger = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-dft = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-fri = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-goldilocks = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-keccak = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-ldt = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-mds = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-merkle-tree = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-poseidon2 = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-symmetric = { git = "https://github.com/succinctlabs/plonky3.git" }
p3-uni-stark = { git = "https://github.com/succinctlabs/plonky3.git" }

[patch.crates-io]
# Patch sha2 so we can use sha precompiles
sha2 = { git = "https://github.com/succinctbot/RustCrypto-hashes.git", branch = "v0.9.8" }
# Patch time because newer version breaks with older toolchains
time = { git = "https://github.com/time-rs/time.git", rev = "v0.3.28"}
# time-core = { git = "https://github.com/time-rs/time.git", rev = "v0.3.31"}
# time = { version = "0.3.31" }