[workspace.package]
version = "3.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/sp1"
keywords = ["sp1", "succinct", "zero-knowledge", "zkvm"]
categories = ["cryptography"]

[workspace]
members = [
  "crates/build",
  "crates/cli",
  "crates/core/executor",
  "crates/core/machine",
  "crates/curves",
  "crates/derive",
  "crates/eval",
  "crates/helper",
  "crates/perf",
  "crates/primitives",
  "crates/prover",
  "crates/recursion/circuit",
  "crates/recursion/compiler",
  "crates/recursion/core",
  "crates/recursion/derive",
  "crates/recursion/gnark-cli",
  "crates/recursion/gnark-ffi",
  "crates/sdk",
  "crates/cuda",
  "crates/verifier",
  "crates/stark",
  "crates/zkvm/*",
]
exclude = ["examples/target"]
resolver = "2"

[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]
# sp1
sp1-build = { path = "crates/build", version = "3.0.0" }
sp1-cli = { path = "crates/cli", version = "3.0.0", default-features = false }
sp1-core-machine = { path = "crates/core/machine", version = "3.0.0" }
sp1-core-executor = { path = "crates/core/executor", version = "3.0.0" }
sp1-curves = { path = "crates/curves", version = "3.0.0" }
sp1-derive = { path = "crates/derive", version = "3.0.0" }
sp1-eval = { path = "crates/eval", version = "3.0.0" }
sp1-helper = { path = "crates/helper", version = "3.0.0", default-features = false }
sp1-primitives = { path = "crates/primitives", version = "3.0.0" }
sp1-prover = { path = "crates/prover", version = "3.0.0" }
sp1-recursion-compiler = { path = "crates/recursion/compiler", version = "3.0.0" }
sp1-recursion-core = { path = "crates/recursion/core", version = "3.0.0", default-features = false }
sp1-recursion-derive = { path = "crates/recursion/derive", version = "3.0.0", default-features = false }
sp1-recursion-gnark-ffi = { path = "crates/recursion/gnark-ffi", version = "3.0.0", default-features = false }
sp1-recursion-circuit = { path = "crates/recursion/circuit", version = "3.0.0", default-features = false }
sp1-sdk = { path = "crates/sdk", version = "3.0.0" }
sp1-cuda = { path = "crates/cuda", version = "3.0.0" }
sp1-stark = { path = "crates/stark", version = "3.0.0" }
sp1-lib = { path = "crates/zkvm/lib", version = "3.0.0", default-features = false }

# NOTE: The version in this crate is manually set to 3.0.1 right now. When upgrading SP1 versions,
# make sure to update this crate.
sp1-zkvm = { path = "crates/zkvm/entrypoint", version = "3.0.1", default-features = false }

# p3
# p3-air = "0.1.4-succinct"
# p3-field = "0.1.4-succinct"
# p3-commit = "0.1.4-succinct"
# p3-matrix = "0.1.4-succinct"
# p3-baby-bear = { version = "0.1.4-succinct", features = ["nightly-features"] }
# p3-util = "0.1.4-succinct"
# p3-challenger = "0.1.4-succinct"
# p3-dft = "0.1.4-succinct"
# p3-fri = "0.1.4-succinct"
# p3-goldilocks = "0.1.4-succinct"
# p3-keccak = "0.1.4-succinct"
# p3-keccak-air = "0.1.4-succinct"
# p3-blake3 = "0.1.4-succinct"
# p3-mds = "0.1.4-succinct"
# p3-merkle-tree = "0.1.4-succinct"
# p3-poseidon2 = "0.1.4-succinct"
# p3-symmetric = "0.1.4-succinct"
# p3-uni-stark = "0.1.4-succinct"
# p3-maybe-rayon = "0.1.4-succinct"
# p3-bn254-fr = "0.1.4-succinct"

# For local development. 

p3-air = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-field = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-commit = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-matrix = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-baby-bear = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-util = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-challenger = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-dft = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-fri = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-goldilocks = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-keccak = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-keccak-air = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-blake3 = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-mds = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-merkle-tree = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-poseidon2 = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-symmetric = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-uni-stark = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-maybe-rayon = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }
p3-bn254-fr = { git = "https://github.com/Plonky3/Plonky3", branch = "sp1-v4" }

# p3-air = { path = "../Plonky3/air" }
# p3-field = { path = "../Plonky3/field" }
# p3-commit = { path = "../Plonky3/commit" }
# p3-matrix = { path = "../Plonky3/matrix" }
# p3-baby-bear = { path = "../Plonky3/baby-bear" }
# p3-util = { path = "../Plonky3/util" }
# p3-challenger = { path = "../Plonky3/challenger" }
# p3-dft = { path = "../Plonky3/dft" }
# p3-fri = { path = "../Plonky3/fri" }
# p3-goldilocks = { path = "../Plonky3/goldilocks" }
# p3-keccak = { path = "../Plonky3/keccak" }
# p3-keccak-air = { path = "../Plonky3/keccak-air" }
# p3-blake3 = { path = "../Plonky3/blake3" }
# p3-mds = { path = "../Plonky3/mds" }
# p3-merkle-tree = { path = "../Plonky3/merkle-tree" }
# p3-poseidon2 = { path = "../Plonky3/poseidon2" }
# p3-symmetric = { path = "../Plonky3/symmetric" }
# p3-uni-stark = { path = "../Plonky3/uni-stark" }
# p3-maybe-rayon = { path = "../Plonky3/maybe-rayon" }
# p3-bn254-fr = { path = "../Plonky3/bn254-fr" }

[workspace.metadata.typos]
# TODO: Fix in next version since CommitCommitedValuesDigest is retained since it's present in constraints.json
default.extend-ignore-re = ["Jo-Philipp Wich", "SubEIN", "DivEIN", "CommitCommitedValuesDigest"]
default.extend-ignore-words-re = ["(?i)groth", "TRE"]
