[package]
name = "sp1-verifier"
description = "Verifier for SP1 Groth16 and Plonk proofs."
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
bn = { version = "=0.6.0-v5.0.0", package = "substrate-bn-succinct" }
sha2 = { version = "0.10.8", default-features = false }
thiserror = { version = "2", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
lazy_static = { version = "1.5.0", default-features = false }
blake3 = { workspace = true }
cfg-if = "1.0.0"

bincode = { version = "1.3.3", optional = true }

# sp1
sp1-stark = { workspace = true, optional = true }
sp1-primitives = { workspace = true, optional = true }
sp1-recursion-core = { workspace = true, optional = true, default-features = false }
p3-field = { workspace = true, optional = true }
p3-baby-bear = { workspace = true, optional = true }
p3-symmetric = { workspace = true, optional = true }

# arkworks
ark-bn254 = { version = "0.5.0", optional = true }
ark-serialize = { version = "0.5.0", optional = true }
ark-ff = { version = "0.5.0", optional = true }
ark-groth16 = { version = "0.5.0", optional = true }
ark-ec = { version = "0.5.0", optional = true }

[dev-dependencies]
sp1-sdk = { path = "../sdk" }
test-artifacts = { path = "../test-artifacts" }
num-bigint = "0.4.6"
num-traits = "0.2.19"
cfg-if = "1.0.0"
serial_test = "3.2.0"
rstest = "0.25.0"

[features]
# TODO remove compressed feature by default
default = [
    "std",
    # "compressed"
    #
]
compressed = [
    "dep:sp1-stark",
    "dep:sp1-primitives",
    "dep:sp1-recursion-core",
    "dep:p3-field",
    "dep:p3-baby-bear",
    "dep:p3-symmetric",
    "dep:bincode",
]
std = ["thiserror/std"]
ark = ["ark-bn254", "ark-serialize", "ark-ff", "ark-groth16", "ark-ec"]

[lints]
workspace = true
