[package]
name = "sp1-prover"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sp1-recursion-program = { path = "../recursion/program" }
sp1-recursion-circuit = { path = "../recursion/circuit" }
sp1-recursion-compiler = { path = "../recursion/compiler" }
sp1-recursion-core = { path = "../recursion/core" }
sp1-core = { path = "../core" }
p3-field = { workspace = true }
p3-challenger = { workspace = true }
p3-baby-bear = { workspace = true }
p3-commit = { workspace = true }
bincode = "1.3.3"
serde = { version = "1.0", features = ["derive", "rc"] }
backtrace = "0.3.71"
rayon = "1.10.0"
itertools = "0.12.1"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
serde_json = "1.0.116"
sha2 = "0.10.8"
hex = "0.4.3"
anyhow = "1.0.82"

[[bin]]
name = "fibonacci_sweep"
path = "scripts/fibonacci_sweep.rs"

[[bin]]
name = "tendermint_sweep"
path = "scripts/tendermint_sweep.rs"

[[bin]]
name = "fibonacci_groth16"
path = "scripts/fibonacci_groth16.rs"
