[package]
name = "sp1-recursion-core"
description = "SP1 is a performant, 100% open-source, contributor-friendly zkVM."
readme = "../../../README.md"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
p3-field = { workspace = true }
p3-util = { workspace = true }
p3-baby-bear = { workspace = true }
p3-air = { workspace = true }
p3-matrix = { workspace = true }
p3-maybe-rayon = { workspace = true }
p3-poseidon2 = { workspace = true }
p3-symmetric = { workspace = true }
sp1-derive = { workspace = true }
sp1-primitives = { workspace = true }
tracing = "0.1.40"
sp1-core-machine = { workspace = true }
sp1-stark = { workspace = true }
hashbrown = { version = "0.14.5", features = ["serde"] }
itertools = "0.13.0"
p3-bn254-fr = { workspace = true }
p3-merkle-tree = { workspace = true }
p3-commit = { workspace = true }
p3-dft = { workspace = true }
p3-challenger = { workspace = true }
p3-fri = { workspace = true }
zkhash = "0.2.0"
ff = { version = "0.13", features = ["derive", "derive_bits"] }
serde = { version = "1.0", features = ["derive", "rc"] }
backtrace = { version = "0.3.71", features = ["serde"] }
static_assertions = "1.1.0"
thiserror = "1.0.60"
vec_map = "0.8.2"

[dev-dependencies]
rand = "0.8.5"
