[package]
version = "0.1.0"
name = "recursive-script"
edition = "2021"
default-run = "recursive_prover"

[[bin]]
name = "recursive_prover"
path = "src/bin/recursive_prover.rs"

[dependencies]
sp1-sdk = "3.0.0"
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde = { version = "1.0.200", default-features = false, features = ["derive"] }
clap = { version = "4.0", features = ["derive", "env"] }
tracing = "0.1.40"
hex = "0.4.3"
alloy-sol-types = { workspace = true }
recursive-lib = { path = "../lib" }

[build-dependencies]
sp1-helper = "3.0.0"
