[package]
name = "sp1-recursion-circuit"
description = "SP1 is a performant, 100% open-source, contributor-friendly zkVM."
readme = "../../README.md"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
p3-air = { workspace = true }
p3-field = { workspace = true }
p3-commit = { workspace = true }
p3-fri = { workspace = true }
p3-matrix = { workspace = true }
p3-util = { workspace = true }
sp1-recursion-core = { path = "../core", version = "v1.0.0-rc.1" }
sp1-core = { path = "../../core", version = "v1.0.0-rc.1" }
itertools = "0.13.0"
serde = { version = "1.0.204", features = ["derive"] }
sp1-recursion-derive = { path = "../derive", version = "v1.0.0-rc.1" }
sp1-recursion-compiler = { path = "../compiler", version = "v1.0.0-rc.1" }
sp1-recursion-program = { path = "../program", version = "v1.0.0-rc.1" }
p3-bn254-fr = { workspace = true }
p3-baby-bear = { workspace = true }
bincode = "1.3.3"

[dev-dependencies]
ff = { version = "0.13", features = ["derive", "derive_bits"] }
p3-challenger = { workspace = true }
p3-symmetric = { workspace = true }
p3-dft = { workspace = true }
p3-merkle-tree = { workspace = true }
p3-poseidon2 = { workspace = true }
zkhash = "0.2.0"
rand = "0.8.5"
sp1-recursion-gnark-ffi = { path = "../gnark-ffi", version = "v1.0.0-rc.1" }

[features]
native-gnark = ["sp1-recursion-gnark-ffi/native"]
