[package]
name = "sp1-core-executor"
description = "SP1 is a performant, 100% open-source, contributor-friendly zkVM."
readme = "../../../README.md"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
# sp1
sp1-primitives = { workspace = true }
sp1-curves = { workspace = true }
sp1-stark = { workspace = true }

# p3
p3-field = { workspace = true }
p3-maybe-rayon = { workspace = true, features = ["parallel"] }

# misc
serde = { version = "1.0.205", features = ["derive", "rc"] }
elf = "0.7.4"
rrs_lib = { package = "rrs-succinct", version = "0.1.0" }
eyre = "0.6.12"
bincode = "1.3.3"
hashbrown = { version = "0.14.5", features = ["serde", "inline-more"] }
itertools = "0.13.0"
rand = "0.8.5"
num = { version = "0.4.3" }
typenum = "1.17.0"
nohash-hasher = "0.2.0"
thiserror = "1.0.63"
tracing = "0.1.40"
strum_macros = "0.26.4"
strum = { version = "0.26.3", features = ["derive"] }
log = "0.4.22"
hex = "0.4.3"
bytemuck = "1.16.3"
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
vec_map = { version = "0.8.2", features = ["serde"] }
enum-map = { version = "2.7.3", features = ["serde"] }

[dev-dependencies]
sp1-zkvm = { workspace = true }

[features]
programs = []
bigint-rug = ["sp1-curves/bigint-rug"]
