# Documentation and mdbook related jobs.
# Reference: https://github.com/paradigmxyz/reth/blob/main/.github/workflows/book.yml

name: book

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
    paths:
      - "book/**"
  merge_group:

defaults:
  run:
    working-directory: book

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: book/yarn.lock

      - name: Install dependencies
        run: npm ci

      - name: Create New Code Refrences
        run: chmod +x gen-code-refs.sh && ./gen-code-refs.sh 

      - name: Build website
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: book/build

  deploy:
    # Only deploy if a push to dev
    if: github.ref_name == 'dev' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [build]

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    timeout-minutes: 60

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
