name: PR Lint

on:
  pull_request_target:
    types:
      - opened
      - edited

permissions:
  pull-requests: read

jobs:
  main:
    name: Title
    runs-on: warp-ubuntu-latest-arm64-4x
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
