name: Test deployment

on:
  pull_request:
    branches: [dev]

defaults:
  run:
    working-directory: book

jobs:
  test-deploy:
    name: Test doc build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: book/yarn.lock

      - name: Install dependencies
        run: npm ci 

      - name: Test build website
        run: npm run build
